<div class="container-fluid abc">
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><b>Ngày chuộc đồ: </b></td>
                  <td><mat-form-field class="example-full-width"><input matInput type="date"></mat-form-field><!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tiền cầm: </b></td>
                  <td>0 VNĐ <!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Nợ cũ: </b></td>
                  <td>0 VNĐ <!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tiền lãi: </b></td>
                  <td>0 VNĐ(1 ngày)<!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tiền khác: </b></td>
                   <td><mat-form-field class="example-full-width"><input matInput type="number"></mat-form-field><!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tổng tiền chuộc: </b></td>
                  <td><font color="red">0 VNĐ</font> <!--Biến--></td>
                </tr>
                <tr>
                  <td colspan="2"><button class="btn btn-info">Chuộc đồ</button></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>