<div  class="main-content">
    <div class="container-fluid">
      <div class="form-vertical">
          <div class="form-group">
              <!-- search -->
              <div class="row">
                  <div class="col-md-2">
                      <label class="control-label"> Tên hàng hóa</label>
                      <input type="text"  name="keysearch" class="form-control" >
                  </div>
                  <div class="col-md-2">
                      <label class="control-label"> Lĩnh vực </label>
                      <select class="custom-select mr-sm-2" >                 
                          <option selected>Tất cả</option>                  
                          <option value="1">Cầm đồ</option>
                          <option value="2">Vay lãi</option>
                         
                          </select>
                          
                  </div>
                  <div class="col-md-2">
                      <label class="control-label">   Trạng thái    </label>
                      <select class="custom-select mr-sm-2" >
                          <option selected>Tất cả</option>
                          <option value="1">Bình thường</option>
                          <option value="2">Khóa</option>                  
                          </select>
  
                  </div>
                  <div class="col-md-2">
                    <br/>
                      <button class="btn btn-info " style="margin-top: 0px" >Tìm kiếm</button>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="pb5">
                  <button class="btn btn-sm" data-toggle="modal" href="#divInsertPawn" onclick="EditCategory(0)"><i class="icol-add"></i> Thêm mới</button>
              </div>
              <div class="widget-content" id="result-search"><table class="table  table-hover table-bordered  table-my-hover" style="margin-top:15px;">
        <thead>
          <tr>
            <th width="50px" style="text-align:center">#</th>
                  <th class="align-center">Lĩnh vực</th>
            <th>Tên</th>
                  <th style="text-align:center">Mã</th>
                  <th>Tiền cầm</th>
                  <th>Lãi suất</th>
                  <th>Kỳ lãi</th>
                  <th>Thanh lý sau</th>
                  
                  <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
                  <tr>
              <td align="center">1</td>
                      <td align="center">Cầm đồ</td>
                      <td><a data-toggle="modal" href="#divInsertPawn" ><b>Xe máy</b></a></td>
                      <td align="center"><a data-toggle="modal" href="#divInsertPawn" ><b>XM</b></a></td>
                      <td>0</td>
                      <td><b>3</b>k /1triệu/ngày</td>
                      <td>10 ngày</td>
                      <td>5 ngày quá hạn</td>
                      
                      <td>
                              <span>Bình thường</span>
                      </td>
            </tr>
                  <tr>
              <td align="center">2</td>
                      <td align="center">Cầm đồ</td>
                      <td><a data-toggle="modal" href="#divInsertPawn" ><b>Ô tô</b></a></td>
                      <td align="center"><a data-toggle="modal" href="#divInsertPawn" ><b>OTO</b></a></td>
                      <td>0</td>
                      <td><b>3</b>k /1triệu/ngày</td>
                      <td>10 ngày</td>
                      <td>5 ngày quá hạn</td>
                      
                      <td>
                              <span>Bình thường</span>
                      </td>
            </tr>
                  <tr>
              <td align="center">3</td>
                      <td align="center">Cầm đồ</td>
                      <td><a data-toggle="modal" href="#divInsertPawn" ><b>Điện thoại</b></a></td>
                      <td align="center"><a data-toggle="modal" href="#divInsertPawn"><b>ÐT</b></a></td>
                      <td>0</td>
                      <td><b>3</b>k /1triệu/ngày</td>
                      <td>10 ngày</td>
                      <td>5 ngày quá hạn</td>
                      
                      <td>
                              <span>Bình thường</span>
                      </td>
            </tr>
                  <tr>
              <td align="center">4</td>
                      <td align="center">Cầm đồ</td>
                      <td><a data-toggle="modal" href="#divInsertPawn" ><b>Laptop</b></a></td>
                      <td align="center"><a data-toggle="modal" href="#divInsertPawn" ><b>LT</b></a></td>
                      <td>0</td>
                      <td><b>3</b>k /1triệu/ngày</td>
                      <td>10 ngày</td>
                      <td>5 ngày quá hạn</td>
                      
                      <td>
                              <span>Bình thường</span>
                      </td>
            </tr>
                  <tr>
              <td align="center">5</td>
                      <td align="center">Cầm đồ</td>
                      <td><a data-toggle="modal" href="#divInsertPawn" ><b>Vàng</b></a></td>
                      <td align="center"><a data-toggle="modal" href="#divInsertPawn" ><b>Vang</b></a></td>
                      <td>0</td>
                      <td><b>3</b>k /1triệu/ngày</td>
                      <td>10 ngày</td>
                      <td>5 ngày quá hạn</td>
                      
                      <td>
                              <span>Bình thường</span>
                      </td>
            </tr>
        </tbody>
      </table></div>
          </div>
      </div>

    </div>
</div>