<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Từ ngày: </td>
              <td>dd/mm/yyyy</td>
            </tr>
            <tr>
              <td>Đến ngày: </td>
              <td><mat-form-field><input matInput type="date"></mat-form-field></td>
            </tr>
            <tr>
              <td>Số ngày: </td>
              <td><mat-form-field><input matInput type="number"></mat-form-field></td>
            </tr>
            <tr>
              <td>Tiền lãi: </td>
              <td>0 VNĐ</td>
            </tr>
            <tr>
              <td>Tiền khác: </td>
              <td><mat-form-field><input matInput type="number"></mat-form-field></td>
            </tr>
            <tr>
              <td>Tổng tiền lãi: </td>
              <td><font color="red">0 VNĐ</font></td>
            </tr>
            <tr>
              <td colspan="2"><button class="btn btn-info">Đóng lãi</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th colspan="3">Ngày</th>
            <th>Số ngày</th>
            <th>Tiền lãi</th>
            <th>Tiền khác</th>
            <th>Tổng lãi</th>
            <th>Tiền khách trả</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>dd/mm/yyyy</td>
              <td>--></td>
              <td>dd/mm/yyyy</td>
              <td>1</td>
              <td>0 VNĐ</td>
              <td>0 VNĐ</td>
              <td>0 VNĐ</td>
              <td>0 VNĐ</td>
              <td></td>
              <td><input type="checkbox"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>