<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Hợp đồng vay họ</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered">
          <thead>
            <th colspan="3">
              <font color="red">Tên khách hàng
                <!--Biến-->
              </font>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                Bát họ
              </td>
              <td colspan="2" align="right">
                0 VNĐ
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Tỷ lệ
              </td>
              <td colspan="2" align="right">
                10 ăn 0.2
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Họ từ ngày
              </td>
              <td align="center">
                dd/mm/yyyy
                <!--Biến-->
              </td>
              <td align="center">
                dd/mm/yyyy
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Nợ cũ
              </td>
              <td colspan="2" align="right">
                <font color="red">0 VNĐ</font>
                <!--Biến-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                Số tiền giao khách
              </td>
              <td align="right">
                0 VNĐ
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Tổng tiền phải đóng
              </td>
              <td align="right">
                <font color="red">0 VNĐ</font>
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Đã đóng được
              </td>
              <td align="right">
                0 VNĐ
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Còn phải đóng
              </td>
              <td align="right">
                <font color="red">0 VNĐ</font>
                <!--Biến-->
              </td>
            </tr>
            <tr>
              <td>
                Tổng lãi
              </td>
              <td align="right">
                0 VNĐ
                <!--Biến-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#lichDongTien" data-toggle="tab">
                      Lịch đóng tiền
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#dongHopDong" data-toggle="tab">
                      Đóng hợp đồng
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#no" data-toggle="tab">
                      Nợ
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#lichSu" data-toggle="tab">
                      Lịch sử
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#daoHo" data-toggle="tab">
                      Đảo họ
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#henGio" data-toggle="tab">
                      Hẹn giờ
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="lichDongTien">
                <app-bat-ho-lich-dong-tien></app-bat-ho-lich-dong-tien>
              </div>
              <div class="tab-pane" id="dongHopDong">
                <app-bat-ho-dong-hop-dong></app-bat-ho-dong-hop-dong>
              </div>
              <div class="tab-pane" id="no">
                <app-bat-ho-no></app-bat-ho-no>
              </div>
              <div class="tab-pane" id="lichSu">
                <app-bat-ho-lich-su></app-bat-ho-lich-su>
              </div>
              <div class="tab-pane" id="daoHo">
                <app-bat-ho-dao-ho></app-bat-ho-dao-ho>
              </div>
              <div class="tab-pane" id="henGio">
                <app-bat-ho-hen-gio></app-bat-ho-hen-gio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>