<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <th colspan="3">
                      <font color="red">Tên khách hàng <!--Biến--></font>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Bát họ
                    </td>
                    <td colspan="2" align="right">
                      0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tỷ lệ
                    </td>
                    <td colspan="2" align="right">
                      10 ăn 0.2 <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Họ từ ngày
                    </td>
                    <td align="center">
                      dd/mm/yyyy <!--Biến-->
                    </td>
                    <td align="center">
                      dd/mm/yyyy <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Nợ cũ
                    </td>
                    <td colspan="2" align="right">
                      <font color="red">0 VNĐ</font> <!--Biến-->
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>
                        Số tiền giao khách
                    </td>
                    <td align="right">
                        0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                        Tổng tiền phải đóng
                    </td>
                    <td align="right">
                      <font color="red">0 VNĐ</font> <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Đã đóng được
                    </td>
                    <td align="right">
                      0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Còn phải đóng
                    </td>
                    <td align="right">
                      <font color="red">0 VNĐ</font> <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Tổng lãi
                    </td>
                    <td align="right">
                      0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>