<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Gia  hạn hợp đồng</h3>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Khách hàng </td>
              <td>(Biến)</td>
            </tr>
            <tr>
              <td>Gia hạn thêm </td>
              <td><mat-form-field><input matInput type="number"> Ngày</mat-form-field></td>
            </tr>
            <tr>
              <td>Ghi chú: </td>
              <td><mat-form-field><textarea matInput></textarea></mat-form-field></td>
            </tr>
            <tr>
              <td colspan="2"><button class="btn btn-info">Đồng ý</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Gia hạn từ ngày</th>
            <th>Đến ngày</th>
            <th>Số ngày</th>
            <th>Nội dung</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>dd/mm/yyyy</td>
              <td>dd/mm/yyyy</td>
              <td>x</td>
              <td>Nội dung gì đó</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>