<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>(icon) Hẹn giờ</h4>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Ngày hẹn</td>
                <td><mat-form-field><input type="date" matInput></mat-form-field></td>
              </tr>
              <tr>
                <td>Ghi chú</td>
                <td><mat-form-field><textarea matInput></textarea></mat-form-field></td>
              </tr>
              <tr>
                <td class="text-right"><button class="btn btn-info">Tạo hẹn giờ</button></td>
                <td class="text-left"><button class="btn btn-danger">Dừng hẹn giờ</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-center">
            <thead>
              <th>STT</th>
              <th>Trạng thái</th>
              <th>Hẹn đến ngày</th>
              <th>Nội dung hẹn giờ</th>
              <th>Ngày tạo</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Hẹn giờ</td>
                <td>dd/mm/yyyy</td>
                <td>Nội dung gì đó</td>
                <td>dd/mm/yyyy</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>