<div class="container-fluid">
  <div class="main-content">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-borderless">
          <thead>
            <th colspan="2">(Icon) Khách hàng nợ lãi</th>
          </thead>
          <tbody>
            <tr>
              <td>Số tiền nợ lại lần này: </td>
              <td><mat-form-field><input matInput type="number" placeholder="0"></mat-form-field></td>
            </tr>
            <tr>
              <td colspan="2" class="text-right"><button class="btn btn-info">Ghi nợ</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-borderless">
          <thead>
            <th colspan="2">(Icon) Khách hàng trả nợ</th>
          </thead>
          <tbody>
            <tr>
              <td>Số tiền trả nợ: </td>
              <td><mat-form-field><input matInput type="number" placeholder="0"></mat-form-field></td>
            </tr>
            <tr>
              <td colspan="2" class="text-right"><button class="btn btn-info">Thanh toán</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>