<div class="container-fluid">
  <div class="main-content">
    <div class="row">
      <div class="col-md-8">
        <p><font size="3"><a href="#">Ẩn bớt các lần đóng họ trước</a></font></p>
      </div>
      <div class="col-md-2">
        <p><font size="3"><a href="#">Chia sẻ link</a></font></p>
      </div>
      <div class="col-md-2">
        <p><font size="3"><a href="#">In lịch đóng tiền</a></font></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered text-center">
          <thead>
            <th>In</th>
            <th>STT</th>
            <th>Ngày họ</th>
            <th>Tiền họ</th>
            <th>Ngày giao dịch</th>
            <th>Tiền khách trả</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>(Icon)</td>
              <td>1</td>
              <td>dd/mm/yyyy --> dd/mm/yyyy (d ngày)</td>
              <td>(Biến) VNĐ</td>
              <td>dd/mm/yyyy</td>
              <td>(Biến) VNĐ</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td>(Icon)</td>
              <td>2</td>
              <td>dd/mm/yyyy --> dd/mm/yyyy (d ngày)</td>
              <td>(Biến) VNĐ</td>
              <td>dd/mm/yyyy</td>
              <td>(Biến) VNĐ</td>
              <td><input type="checkbox"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>