<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Hợp đồng vay tiền</h3>
      </div>
    </div>
      <div class="row">
          <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <th colspan="3">
                      <font color="red">Tên khách hàng <!--Biến--></font>
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Tiền vay
                    </td>
                    <td colspan="2" align="right">
                      0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Lãi suất
                    </td>
                    <td colspan="2" align="right">
                      x/1 triệu <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Vay từ ngày
                    </td>
                    <td align="center">
                      dd/mm/yyyy <!--Biến-->
                    </td>
                    <td align="center">
                      dd/mm/yyyy <!--Biến-->
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col-md-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>
                        Tổng lãi
                    </td>
                    <td align="right">
                        0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                        Đã thanh toán
                    </td>
                    <td align="right">
                      0 VNĐ <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <font color="red">Nợ cũ</font>
                    </td>
                    <td align="right">
                      <font color="red">0 VNĐ</font> <!--Biến-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Trạng thái
                    </td>
                    <td align="right">
                      Đang vay <!--Biến-->
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>