<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Ngày đóng HĐ: </td>
              <td><mat-form-field><input matInput type="date"></mat-form-field></td>
            </tr>
            <tr>
              <td>Tiền cầm: </td>
              <td>0 VNĐ</td>
            </tr>
            <tr>
              <td>Nợ cũ: </td>
              <td>0 VNĐ</td>
            </tr>
            <tr>
              <td>Tiền lãi: </td>
              <td>0 VNĐ</td>
            </tr>
            <tr>
              <td>Tiền khác: </td>
              <td><mat-form-field><input matInput type="number"></mat-form-field></td>
            </tr>
            <tr>
              <td>Tổng tiền chuộc: </td>
              <td><font color="red">0 VNĐ</font></td>
            </tr>
            <tr>
              <td colspan="2">Đóng HĐ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>