.main-content{
    background: #fff;
    

}
.container{
   
}
.modal-header {
    background-color: #f9f9f9;
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-title {
    font-weight: 600;
    font-size: 15px;
    color: black;
    margin: 0;
    line-height: 1.428571429;
}
.modal-body {
    position: relative;
    padding: 20px;
}
.row-border .form-group:first-child {
    padding-top: 5px;
    border-top: none;
}
.row-border .form-group {
   
    padding-bottom: 15px;
    margin-bottom: 0;
}
.form-horizontal .form-group {
    padding-left: 0;
    padding-right: 0;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    display: table;
    content: " ";
}
*, *:before, *:after {
    
    box-sizing: border-box;
}
.modal-footer {
    background-color: #f9f9f9;
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.pull right{
    float: right;
}