<div class="container-fluid">
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><b>Lãi từ ngày: </b></td>
                  <td>dd/mm/yyyy</td>
                </tr>
                <tr>
                  <td><b>Đến ngày: </b></td>
                  <td><mat-form-field class="example-full-width"><input matInput type="date"></mat-form-field><!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Số ngày: </b></td>
                  <td><mat-form-field class="example-full-width"><input matInput type="number"></mat-form-field>Ngày <!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tiền lãi: </b></td>
                  <td>a VNĐ <!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tiền khác: </b></td>
                  <td><mat-form-field class="example-full-width"><input matInput type="number"></mat-form-field>VNĐ<!--Biến--></td>
                </tr>
                <tr>
                  <td><b>Tổng tiền lãi: </b></td>
                  <td><font color="red">(a+b) VNĐ</font> <!--Biến--></td>
                </tr>
                <tr>
                  <td colspan="2"><button class="btn btn-info">Đóng lãi</button></td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-center">
            <thead>
              <th>STT</th>
              <th colspan="3">Ngày</th>
              <th>Số ngày</th>
              <th>Tiền lãi</th>
              <th>Tiền khác</th>
              <th>Tổng tiền trả</th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr><!--Biến-->
                <td>1</td>
                <td>dd/mm/yyyy</td>
                <td>--></td>
                <td>dd/mm/yyyy</td>
                <td>x</td>
                <td>0 VNĐ</td>
                <td>0 VNĐ</td>
                <td>0 VNĐ</td>
                <td><a href=''>In</a></td>
                <td><input type="checkbox"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>