<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3>Hợp đồng cầm đồ</h3>
        </div>
      </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                  <thead>
                    <th colspan="4">
                        <font color="red">Tên khách hàng <!--Biến--></font>
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">
                        Tiền cầm
                      </td>
                      <td colspan="2" align="right">
                        0 VNĐ <!--Biến-->
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        Vay từ ngày
                      </td>
                      <td align="center">
                        dd/mm/yyyy <!--Biến-->
                      </td>
                      <td align="center">
                        dd/mm/yyyy <!--Biến-->
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        Ngày trả lãi gần nhất
                      </td>
                      <td colspan="2" align="center">
                        dd/mm/yyyy <!--Biến-->
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>
                          Lãi suất
                      </td>
                      <td align="right">
                          (3k/1 triệu) <!--Biến-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                          Tiền Lãi đã đóng
                      </td>
                      <td align="right">
                        0 VNĐ <!--Biến-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <font color="red">Nợ cũ</font>
                      </td>
                      <td align="right">
                        <font color="red">0 VNĐ</font> <!--Biến-->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Trạng thái
                      </td>
                      <td align="right">
                        Đang cầm <!--Biến-->
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>