<div class="container-fluid">
  <div class="main-content">
    <form>
      <div class="row">
        <h3>(Icon) Hẹn giờ</h3>
        <div class="col-md-12">
          <label class="control-label">Ngày hẹn</label>
          <mat-form-field class="example-full-width">
            <input matInput type="date">
          </mat-form-field>      
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="control-label">Ghi chú</label>
          <mat-form-field class="example-full-width">
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-info">Tạo hẹn giờ</button>
            <button class="btn btn-danger">Dừng hẹn giờ</button>
        </div>
      </div>
    </form>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Trạng thái</th>
            <th>Hẹn đến ngày</th>
            <th>Nội dung hẹn giờ</th>
            <th>Ngày tạo</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Hẹn giờ</td>
              <td>dd/mm/yyyy</td>
              <td>Nội dung 1</td>
              <td>dd/mm/yyyy</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>