<div class="container-fluid">
  <div class="main-content">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <th colspan="2">@Chú ý: </th>
          </thead>
          <tbody>
            <tr>
              <td>Số kỳ còn phải đóng: </td>
              <td><font color="red"> a kỳ (=(Số tiền 1 kỳ)*a)</font> </td> <!--Biến-->
            </tr>
            <tr>
              <td>Nợ cũ: </td>
              <td><font color="red"> 0 VNĐ </font></td> <!--Biến-->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 text-center">
        <button class="btn btn-info">Đóng hợp đồng</button>
      </div>
    </div>
  </div>
</div>