
<div class="main-content">
    <div class="container">
        <!-- title -->        
         <div class="page-header">
             <div class="row">
                <div class="col-md-8">
                     <h3>            
                        Danh sách khách hàng</h3>
                 </div>
                
                        <!-- Page Stats -->
                <ul class="page-stats">
                    <li>
                        <a routerLinkActive="active"  class="btn btn-primary" [routerLink]="['/themKhachHang']" >Thêm Khách Hàng </a>
                     </li>
                    <li>
                        <div class="summary" style="text-align:center;">
                            <span style="font-size: 14px;">Tổng số</span>
                            <h3 id="h3-total-account">2</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->
        <div class="form-vertical">
        <div class="form-group">
            <!-- search -->
            <div class="row">
                <div class="col-md-3">
                    <input type="text"  name="keysearch" class="form-control" placeholder="Tên khách hàng ...">
                </div>
                <div class="col-md-3">
                    <select class="custom-select mr-sm-2" >                 
                        <option selected>abc12</option>                  
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        </select>
                        
                </div>
                <div class="col-md-3">
                    <select class="custom-select mr-sm-2" >
                        <option selected>Tất cả</option>
                        <option value="1">Bình thường</option>
                        <option value="2">Khóa</option>                  
                        </select>

                </div>
                <div class="col-md-1">
                    <button class="btn btn-info " style="margin-top: 0px" >Tìm</button>
                </div>
            </div>
        </div>
            <!-- kết quả  -->
        <div class="form-group">
                <table class="table  table-bordered ">
                    <thead>
                        <tr align="center">
                            <th width="20px" align="center">
                                STT
                            </th>
                            <th>
                                Tên khách hàng
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Điện thoại
                            </th> 
                            <th>
                                CMND
                            </th>    
                            <th>
                                Cửa hàng
                            </th>         
                            <th>
                                Ngày tạo
                            </th>  
                            <th>
                                Trạng thái
                            </th>        
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr align="center">
                                <td align="center">
                                    1
                                </td>
                                <td >
                                <!-- sau này dùng router -->
                                    <a routerLinkActive="active" [routerLink]="['/suaThongTinKhachHang']">asdc</a>
                                </td>      
                                <td >
                                    12930129301293asdas
                                </td>                         
                                <td >
                                    0129310293
                                </td>          
                                <td >
                                    0123910239
                                </td>         
                                <td >
                                    abc12
                                </td>       
                                    
                                <td >
                                    24-05-2018
                                </td>
                                <td  align="center">
                                        <span  >Bình thường</span>
                                </td>
                                <td>    
                                <!-- đến chứng từ -->
                                    <a data-toggle="modal" href="#divFilesCustomer" class="btn btn-sm" title="Chứng từ" onclick="ShowFilesCustomer(1378784,'asdc')"><i class="icol-attach"></i></a>
                                    
                                </td>
                            </tr>
                            <tr  align="center">
                                <td align="center">
                                    2
                                </td>
                                <td >
                                <!-- tương tự 1 -->
                                    <a routerLinkActive="active"  [routerLink]="['/suaThongTinKhachHang']">Vốn Khởi Tạo</a>
                                </td>      
                                <td >
                                    
                                </td>                         
                                <td >
                                    
                                </td>          
                                <td >
                                    
                                </td>         
                                <td >
                                    abc12
                                </td>       
                                    
                                <td>
                                    20-05-2018
                                </td>
                                <td  align="center">
                                        <span >Bình thường</span>
                                </td>
                                <td>    
                                <!-- đến chứng từ -->
                                    <a data-toggle="modal" href="#divFilesCustomer" class="btn btn-sm" title="Chứng từ" onclick="ShowFilesCustomer(1357542,'Vốn Khởi Tạo')"><i class="icol-attach"></i></a>
                                    
                                </td>                  
                            </tr>
                    </tbody>
                </table>
                <!-- nhảy trang -->
                <div class="row">            
                    <div class="col-md-12">
                        <div style="float: right;">
                        <form class="inline">
                            <button> ← Prev</button>
                            <button>1</button>
                            <button>Next →</button>
                        </form>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
        </div>
</div>
