<div class="container-fluid">
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-borderless">
          <thead>
            <th><h4>(icon) Trả gốc</h4></th>
          </thead>
          <tbody>
            <tr>
              <td><b>Ngày trả trước gốc: </b></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="date">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><b>Số tiền gốc trả trước: </b></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="number">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><b>Ghi chú: </b></td>
              <td>
                <mat-form-field class="example-full-width">
                  <textarea matInput></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="btn btn-info">Đồng ý</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>(icon) Danh sách tiền gốc</h4>
        <table class="table table-bordered text-center">
          <thead>
            <th>STT</th>
            <th>Ngày</th>
            <th>Nội dung</th>
            <th>Số tiền</th>
            <th></th>
          </thead>
          <tbody>
            <tr><!--Biến-->
              <td>1</td>
              <td>1/1/1111</td>
              <td>Nội dung</td>
              <td>0 VNĐ</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>