<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3>Trả gốc</h3>
          <table class="table table-borderless">
            <tbody>
                <tr>
                  <td>Ngày vay thêm gốc: </td>
                  <td><mat-form-field><input type="date" matInput></mat-form-field></td>
                </tr>
                <tr>
                  <td>Số tiền vay thêm: </td>
                  <td><mat-form-field><input type="number" matInput></mat-form-field></td>
                </tr>
                <tr>
                  <td>Ghi chú: </td>
                  <td><mat-form-field><textarea matInput></textarea></mat-form-field></td>
                </tr>
                <tr>
                  <td colspan="2"><button class="btn btn-info">Đồng ý</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Danh sách tiền gốc</h3>
          <table class="table table-bordered text-center">
            <thead>
              <th>STT</th>
              <th>Ngày</th>
              <th>Nội dung</th>
              <th>Số tiền</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>dd/mm/yyyy</td>
                <td>Nội dung gì đó</td>
                <td>0 VNĐ</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>