<div class="container-fluid">
  <div class="main-content">
      <div class="row">
          <div class="col-md-12">
              <mat-form-field>
                 <textarea matInput placeholder="Ghi chú"></textarea>
               </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-info">Lưu</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>(Icon) Lịch sử nhắc nợ</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-center">
            <thead>
              <th>STT</th>
              <th>Ngày</th>
              <th>Người thao tác</th>
              <th>Nội dung</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>dd/mm/yyyy - 00:00:00</td>
                <td>Người thao tác 1</td>
                <td>Nội dung 1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>(Icon) Lịch sử thao tác</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered text-center">
            <thead>
              <th>STT</th>
              <th>Ngày</th>
              <th>Giao dịch viên</th>
              <th>Số tiền ghi nợ</th>
              <th>Số tiền ghi có</th>
              <th>Nội dung</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>dd/mm/yyyy - 00:00:00</td>
                <td>Giao dịch viên 1</td>
                <td>0 VNĐ</td>
                <td>0 VNĐ</td>
                <td>Nội dung</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>