
<div class="main-content">
    <div class="container">
        <!-- title -->
        <div  class="modal-header">
            <h2 class="modal-title">Sửa thông tin khách hàng</h2>

        </div>
        <!-- body -->
        <div class="modal-body">
            <form class="form-horizontal row-border">
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Tên khách hàng <span class="required">*</span></label>
                <div class="col-md-8">
                    <input type="text" id="ip-user-name" class="form-control" name="username" data-rule-required="true" data-msg-required="Tên khách hàng không để trống ! ">                     
                </div>
            </div>                 
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Địa chỉ <span class=""></span>
                </label>
                <div class="col-md-8">
                    <input type="text" id="ip-address" name="phone" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Điện thoại <span class=""></span>
                </label>
                <div class="col-md-8">
                    <input type="text" id="ip-phone" name="phone" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">
                    CMND <span class=""></span>
                </label>
                <div class="col-md-8">
                    <input type="text" id="ip-cmnd" name="phone" class="form-control">
                </div>
            </div>            
            <div class="form-group">
                <label class="col-md-4 control-label">
                    Chọn cửa hàng</label>
                <div class="col-md-8">
                    
                        <select class="custom-select mr-sm-2" >                 
                            <option selected>abc12</option>                  
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                            
                   
                </div>
            </div>    
            <div class="form-group" id="div-status">
                <label class="col-md-4 control-label">
                    Trang thái
                </label>
                <div class="col-md-8">
                    <label class="radio-inline">
                        <input type="radio" id="ip-status-1" name="status" checked="checked">
                        Bình thường</label>
                    <label class="radio-inline">
                        <input type="radio" id="ip-status-0" name="status">
                        Khóa</label>
                </div>
            </div>                
            </form>
        </div>
        <!-- footer -->
        <div class="modal-footer">
            
                <button id="btn-submit" class="btn btn-primary pull-right" >
                    Cập nhật</button>
                <button type="button" id="btn-cancel" class="btn btn-default pull-right" >
                    Hủy</button>
            
        </div>
         
        </div>
    
</div>
