<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3>Thanh lý đồ</h3>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>Loại tài sản: </td>
                  <td>(Tài sản)</td>
                </tr>
                <tr>
                  <td>Tên tài sản: </td>
                  <td>(Tài sản)</td>
                </tr>
                <tr>
                  <td>Tiền thanh lý: </td>
                  <td><mat-form-field><input matInput type="number"></mat-form-field></td>
                </tr>
                <tr>
                  <td>Ngày thanh lý: </td>
                  <td><mat-form-field><input matInput type="date" disabled></mat-form-field></td>
                </tr>
                <tr>
                  <td>Ghi chú: </td>
                  <td><mat-form-field><textarea matInput></textarea></mat-form-field></td>
                </tr>
                <tr>
                  <td colspan="2"><button class="btn btn-info">Thanh lý</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>