<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h3>Lịch sử trả chậm</h3>
      <div class="col-md-12">
        <p><font size="2"><a href=''>Thông tin khách hàng trả chậm</a></font></p>
        <table class="table table-bordered text-center">
          <thead>
            <th>Hợp đồng</th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Số ngày</th>
          </thead>
          <tbody>
            <tr>
              <td>Mã hợp đồng</td>
              <td>dd/mm/yyyy</td>
              <td>dd/mm/yyyy</td>
              <td>x</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>